body{
height:125%;
width:100%;
background-image:url("Resources/bckground.png");
font-family:Trebuchet MS, Helvetica, sans-serif;
background-repeat:none;
background-size:100% 100%;
background-attachment:fixed;
overflow-x:hidden;
color:white;
}
#main{
height:100%;
width:100%;
display:block;
float:left;
}

#content{
height:99%;
width:95%;
margin-left:2.5%;
background-size:100% 100%;
background-repeat:none;
}
#title{
height:20%;
width:50%;
margin-left:25%;
margin-top:5%;
float:left;
}
#Mtitle{
height:50%;
width:100%;
float:left;
background-image:url("Resources/title.png");
background-repeat:none;
background-size: 100% 100%;
margin-top:-5%;
}
#Stitle{
height:20%;
width:20%;
float:left;
background-image:url("Resources/subtitle.png");
background-repeat:none;
background-size: 100% 100%;
margin-left:40%;
}
#about{
height:10%;
width:100%;
margin-left:10%;
position:relative;
float:left;
}

#M{
float:left;
color:white;
margin-right:28%;
text-align:right;
}
#I{
float:left;
color:white;
margin-right:28%;
text-align:right;
}
#R{
float:left;
color:white;
text-align:right;
}
#Threebox{
float:left;
height:50%;
}
p{
text-align:center;
line-height:0.25;
}
#Box1{
float:left;
height:60%;
width:30%;
margin-right:3%;
margin-top:5%;
}
#Box2{
float:left;
height:60%;
width:30%;
margin-right:3%;
text-align:center;
}
#Box2 img{
height:40%;
width:60%;
}
#Box3{
float:left;
height:60%;
width:30%;
margin-right:3%;
text-align:center;
margin-top:5%;
}
