body{
height:100%;
background-image:url("Resources/bback.png");
font-family:Trebuchet MS, Helvetica, sans-serif;
overflow-x:hidden;
background-repeat:none;
background-size:100% 100%;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,255,0.255); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.nav {height:36px; 
background:#aaa; 
width:95%;
color:#fff; 
margin-left:2.5%;
text-shadow:1px 1px #888; 
}
.menu a {float:left; 
color:#eee; 
text-decoration:none; 
width:150px; height:28px; 
padding-top:8px}

.menu span {float:left; 
color:#eee; 
text-decoration:none; 
width:150px; 
height:28px; 
padding-top:8px;
margin-left:-25%;}

.menu a:hover {color:#fff}

.menu {list-style:none; 
font:16px Arial,Verdana; 
text-align:center; 
width:100%; 
background:#aaa;
margin-left:25%;}

.menu li {position:relative; 
float:left; 
width:10%; 
font:normal 13px Arial,Verdana;
background:#aaa;
z-index:1000}
.menu li a {margin-left:-20%;}
.menu ul {display:none; 
position:absolute; 
font:normal 13px Arial,Verdana; 
top:36px; left:0; 
background:#aaa; 
display:none; 
list-style:none}

.menu ul li {float:none; 
border-top:1px solid #ccc; 
width:120px;
}

.menu ul li a, li.menuhover li a, li.menuhover li.menuhover li a {
float:none; 
display:block;
background:none; 
height:22px; 
padding-top:5px}

.menu ul li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {
background:#999; 
color:#fff}

.menu ul li span, li.menuhover li span, li.menuhover li.menuhover li span {
float:none; 
display:block; 
background:none; 
height:22px; 
padding-top:5px
margin-left:-25%;}

.menu ul ul {left:120px; top:0}

.menu li.submenu {font-weight:bold}

.menu li.noborder {border-top:none}

li.menuhover a, li.menuhover li.menuhover a {
color:#fff; 
background:#999}
li.menuhover span, li.menuhover li.menuhover span {
color:#fff; 
background:#999}
#info {width:180px; 
background:#eee}
#info li {width:160px; 
border-top:none; 
padding:8px 10px; 
color:#eee; 
background:#aaa;
text-shadow:1px 1px #fff; 
text-align:left}
#info {background:#aaa;
text-shadow: 1px 1px #888;
float:none; 
border-top:1px solid #ccc; }
#main {
height:100%;
width:100%;
min-height:100%;
min-width:100%;
}

#content {
height:99%;
width:95%;
margin-left:2.5%;
background-image:url("Resources/back.jpg");
background-size:100% 100%;
overflow:hidden;
background-repeat:none;
}
#title {
text-align:center;
color: blue;
height:5%;
width:100%;
float:left;
margin-top:1%;
margin-bottom:1%;
}
#threebox {
height:50%;
margin-top:10%;
}
#Box1{
height:100%;
width:32.33%;
background-image:url("Resources/boxback.png");
float:left;
background-repeat:none;
background-size:100% 100%;
margin-left:0.5%;
margin-right:1%;
-moz-box-shadow:    inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow:         inset 0 0 10px #000000;
}
#Box2{
height:100%;
width:32.33%;
background-image:url("Resources/boxback.png");
float:left;
background-repeat:none;
background-size:100% 100%;
margin-right:1%;
-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
#Box3{
height:100%;
width:32.33%;
background-image:url("Resources/boxback.png");
float:left;
background-repeat:none;
background-size:100% 100%;
-moz-box-shadow:    inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow:         inset 0 0 10px #000000;
}
#inv {
height:60%;
width:90%;
margin-left:5%;
margin-top:1%;
}
#inv2 {
height:60%;
width:70%;
margin-left:15%;
margin-top:1%;
}

h3 {
text-align:center;
}

#swarecont {
height:85%;
width:90%;
margin-left:5%;
float:left;
margin-top:2.5%;
background-image: url("Resources/bback2.png"); 
border-radius:5%;

}
#swarecont:hover {
overflow:scroll;
width:90.75%;
height:87%;
overflow-x:hidden;
}
#sware {
height:30%;
width:92%;
margin-top:2%;
margin-left:2.5%;
background-image: url("Resources/bback3.jpg"); 
background-size:100% 100%;
background-repeat:none;
position:relative;
padding-right:0;
border-radius:2.5%;
}
#links {
height:98%;
width:20%;
margin:1%;
float:left;
}
#links img {
height: 90%;
width:95%;
margin-top:1%;
margin-left:1%;
}

#desc {
height:98%;
width:75%;
margin-left:2.5%;
margin-top:1%;
float:left;
color:green;
text-decoration:none;
}
#desc a {
text-decoration:none;
color:black;
margin-left: 46%;
}
#desc a:visited {
text-decoration:none;
color:black;
overflow:hidden;

}
#desc a:hover {
text-decoration:none;
color:green;
}

pre {
margin-top:2%;
text-align:center;
text-align: justify;
text-justify: auto;
}

#hware {
margin-left:40%;
margin-top:10%;
}
#services {
height:98%;
Width:100%;
text-align: center;
margin-left: 1%;
margin-top:1%;
}
#services ul {
height:15%;
}
#services li {
height:100%;
width:30%;
margin-left:1%;
margin-top:1%;
list-style-type:none;
float:left;
background-image:url("Resources/bback3.jpg");
border-radius:5%;
}
#swarecon {
height:85%;
width:90%;
margin-left:5%;
float:left;
margin-top:4%;
background-image: url("Resources/bback2.png"); 
border-radius:5%;
text-align: justify;
text-justify: auto;
}
